

body {
    background-image: url(tetris-paradise-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

div#header {
    height:40px;
}

center#center-topcover {
    position:absolute;
    width:100%;
    height:auto;
    right:0px;
}

div#container {
    width:min-content;
    height:auto;
    background-color: #0e6ced;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(20, 1fr);
}

div#topcover {
    width: 358px;
    height: 72px;
    background-color: #e1edff;
    border-bottom: 1px solid black;
}
h1 {
    margin-top:0px;
    padding-top: 8px;
    margin-bottom: 0px;
}

div.block {
    background-color:grey;
    border: 1px solid;
    width: 16px !important;
    height: 16px !important;
}
div.straight {
    background-color: orange;
    border-color: lightblue blue blue lightblue;
}
div.left-club {
    background-color: lightpink;
    border-color: lightblue blue blue lightblue;
}
div.right-club {
    background-color: pink;
    border-color: lightblue blue blue lightblue;
}
div.right-Z {
    background-color: lightgreen;
    border-color: lightblue blue blue lightblue;
}
div.left-Z {
    background-color: lightseagreen;
    border-color: lightblue blue blue lightblue;
}
div.protrusion {
    background-color: lightcoral;
    border-color: lightblue blue blue lightblue;
}
div.cube {
    background-color: lightblue;
    border-color: lightblue blue blue lightblue;
}
div.landed {
    /* background-color:grey; */
    border: 1px solid;
    border-color: lightblue blue blue lightblue;
    width: 16px !important;
    height: 16px !important;
}
div.cleared {
    transition: 0.1s;
    background-color: greenyellow;
    border: 1px solid white;
    width: 16px !important;
    height: 16px !important;
}

div#top {
    position: absolute;
    top: 48px;
}

div#current {
    position: absolute;
    top: 160px;
}

div.scorebox {
    right: 24%;
    background-color:
    #e1edff;
    width: 10%;
    height: 72px;
    font-weight:bold;
}

div.scorebox p {
    margin-bottom:4px;
    text-decoration: underline;
}